body, html {
  height: 100%;
  /* text-shadow: 1px 1px 4px white, 0 0 3em blue, 0 0 0.2em yellow; */
}

h1 {
  text-shadow: 1px 1px 4px white, 0 0 3em blue, 0 0 0.2em yellow;

}
.bgstore {
  background-image: url("./img/superheroes.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.898);
  opacity: 0.9;
  color: white;
  font-style:oblique;
  text-align: center;
  line-height: 2.5;
}

.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  grid-row: auto;
  align-items: center;
  margin-left: 4;
  color: white;
  opacity: 0.9;
}

.typebar {
  background-color: black;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5%;
  text-align: center; 
}

.typebar:hover {
  background-color: white;
  color: black;
}

.universebar {
  display: flex;
  background-color: transparent;
  color: black;
  opacity: 0.9;
  cursor: pointer;
  text-align: center; 
}

.universebar:hover {
  color: black;
  opacity: 0.8;
}

.card {
  display: block;
  padding: 5px;
  margin: 5px; 
  border-radius: 5%;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  background-color: black;
  color: white;
  background-color: transparent;
  border: none;
}

.card:hover {
  border: 2px solid;
}

.pagination {
  margin-top: 30px;  
  display: flex;
  cursor: pointer;
  text-align: center; 
  position: relative;
}

.pagination li {
  margin-right: 1em;
 
}

.page-link {
  background: transparent;
  border-radius: 7%;
}

.img {
  border-radius: 5%;
  width: 140;
  height: 140;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  color: white;
}